body {
  margin-top: 5em;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Roboto Mono', monospace;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-align: center;
}

p {
  font-weight: 400;
}

form {
  text-align: center;
}

input[type=submit] {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  background-color: white;
  border-color: black;
  font-size: 14px;
}

.form-playlist {
  margin: 4em 0em 3em;
}

.track {
  text-align: center;
  padding: 1em 0em;
}
