<title>play the list</title>
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" rel="stylesheet">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<h1>play the list</h1>
<form class="form-playlist" action="/" method="post">
  <h4>Enter playlist here: <input type="text" name="playlist_link"></input></h4>
  <input type="submit" value="Submit">
</form>
{% if track_nodes %}
  {% for track in track_nodes %}
    <div class="track">
      <p>Genres: {{ track.genres }}</p>
      <p>Track Name: {{ track.name }}</p>
      <p>Playbacks + Favorites: {{ track.playback_fav }}</p>
      <p>Url: <a href="{{ track.url }}">{{ track.url }}</a></p>
    </div>
  {% endfor %}
{% else %}
{% endif %}
